{% extends 'authentication/bases/auth-base.html' %}
{% load static %}

{% block content %}

{% load widget_tweaks %}


<center>
   <h3>Pour reinitialier votre mot de pass  veuillez entre votre email</h3>

  <!-- property area -->
        <div class="content-area user-profiel" style="background-color: #FCFCFC;">&nbsp;
            <div class="container">   
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 profiel-container">

                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="profiel-header">
                                <h3>
                                    <b>UPDATE</b> ENTREZ VOTRE EMAIL <br>
                                    <small>All change will send to your e-mail.</small>
                                </h3>
                                <hr>
                            </div>

                            <div class="clear">

                                <div class="col-sm-10 col-sm-offset-1">
                                   
                                    <div class="form-group">
                                        <label>Entrez email : <small>(required)</small></label>
                                        {% render_field form.email class="form-control" type="email" autocomplete="email"  maxlength="254" required="" id="id_email" data-error="Email." %}
                                        {% comment %} <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email"> {% endcomment %}
                                    </div> 
                                </div>
                                <div class="col-sm-10 col-sm-offset-1">
                                    <input type='submit' class='btn btn-finish btn-primary pull-right' name='update' value='Envoyez' />
                                </div>
                            </div>
                            
                    </form>

                </div>
            </div><!-- end row -->

        </div>

</center>

{% endblock content %}