{% extends 'authentication/bases/auth-base.html' %}
{% load static %}

{% block content %}

{% load widget_tweaks %}

        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">List Properties </h1>               
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->
         
        <!-- property area -->
        <div class="properties-area recent-property" style="background-color: #FFF;">
            <div class="container">  
                <div class="row">
                     
                <div class="col-md-3 p0 padding-top-40">
                    <div class="blog-asside-right pr0">
                        <div class="panel panel-default sidebar-menu wow fadeInRight animated" >
                            <div class="panel-heading">
                                <h3 class="panel-title">Smart search</h3>
                            </div>
                            <div class="panel-body search-widget">
                                <form action="{% url 'search_property' %}" method="get" class=" form-inline"> 
                                     {% csrf_token %}
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <input type="text" class="form-control" placeholder="Key word">
                                            </div>
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <div class="row">
                                            <div class="col-xs-6">

                                                {% render_field form2.city__city_name class="form-control" id="lunchBegins"  title="Select your city" data-error="Username." %}
                                            </div>
                                            <div class="col-xs-6">

                                                {% render_field form2.status class="form-control" id="basic"  data-error="Username." %}

                                            </div>
                                        </div>
                                    </fieldset>

                                    <fieldset class="padding-5">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label for="price-range">Price range min :</label>
                                                {% render_field form2.price_range_min class="form-control"  data-error="Username." %}
                                            </div>
                                            <div class="col-xs-6">
                                                <label for="price-range">Price range max :</label>
                                                {% render_field form2.price_range_max class="form-control"   data-error="Username." %}
                                            </div>
                                                                                   
                                        </div>
                                    </fieldset>                                
                                    <fieldset class="padding-5">
                                        <div class="col-xs-12">
                                            <label for="property-geo">Property geo (m <sup>2</sup>) :</label>
                                           
                                            {% render_field form2.area_numbers class="form-control"  data-error="Username." %}
                                        </div>    
                                    </fieldset>  
                                    <fieldset class="padding-5">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label for="price-range">Baths :</label>
                                              
                                                {% render_field form2.bath_numbers  class="form-control"   data-error="Username." %}
                                            </div>

                                            <div class="col-xs-6">
                                                <label for="property-geo">Bed :</label>

                                                {% render_field form2.bed_numbers class="form-control"  data-error="Username." %}
                                            </div>
                                        </div>
                                    </fieldset>

                                    <fieldset class="padding-5">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="checkbox">
                                                {% render_field form2.piscine  data-error="Username." %}Piscine
                                                {% comment %} <label> <input type="checkbox" checked> Fire Place</label> {% endcomment %}
                                                </div> 
                                            </div>

                                            <div class="col-xs-6">
                                                <div class="checkbox">
                                                    {% comment %} <label> <input type="checkbox"> Dual Sinks</label> {% endcomment %}
                                                {% render_field form2.terrain data-error="Username." %}Terrain
                                                </div>
                                            </div>                                            
                                        </div>
                                    </fieldset>

                                    <fieldset class="padding-5">
                                        <div class="row">
                                            <div class="col-xs-6"> 
                                                <div class="checkbox">
                                                    {% render_field form2.jardin  data-error="Username." %}Jardin
                                                    {% comment %} <label> <input type="checkbox" checked> Swimming Pool</label> {% endcomment %}
                                                </div>
                                            </div>  
                                            <div class="col-xs-6"> 
                                                <div class="checkbox">
                                                {% render_field form2.accessible_vehicule class="form-control" data-error="Username." %}Vehicule
                                                {% comment %} <label> <input type="checkbox" checked> 2 Stories </label> {% endcomment %}
                                                </div>
                                            </div>  
                                        </div>
                                    </fieldset>

                                    <fieldset class="padding-5">
                                        <div class="row">
                                            <div class="col-xs-6"> 
                                                <div class="checkbox">
                                                {% render_field form2.child_bredroom class="form-control" data-error="Username." %}Child Bedroom
                                                {% comment %} <label><input type="checkbox"> Laundry Room </label> {% endcomment %}
                                                </div>
                                            </div>  
                                            <div class="col-xs-6"> 
                                                <div class="checkbox">
                                                {% render_field form2.sortie_secours class="form-control" data-error="Username." %}Sortie Secours
                                                {% comment %} <label> <input type="checkbox"> Emergency Exit</label> {% endcomment %}
                                                </div>
                                            </div>  
                                        </div>
                                    </fieldset>

                                    <fieldset class="padding-5">
                                        <div class="row">
                                            <div class="col-xs-6"> 
                                                <div class="checkbox">
                                                {% render_field form2.cheminer class="form-control" data-error="Username." %}Cheminer
                                                {% comment %} <label>  <input type="checkbox" checked> Jog Path </label> {% endcomment %}
                                                </div>
                                            </div>  
                                            <div class="col-xs-6"> 
                                                <div class="checkbox">
                                                    {% render_field form2.water_front class="form-control" data-error="Username." %}water Front
                                                    {% comment %} <label>  <input type="checkbox" checked> Jog Path </label> {% endcomment %}
                                                </div>
                                            </div>  
                                        </div>
                                    </fieldset>

                                    <fieldset >
                                        <div class="row">
                                            <div class="col-xs-12">  
                                                <input class="button btn largesearch-btn" value="Search" type="submit">
                                            </div>  
                                        </div>
                                    </fieldset>                                     
                                </form>
                            </div>
                        </div>

                        <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                            <div class="panel-heading">
                                <h3 class="panel-title">Recommended</h3>
                            </div>
                            <div class="panel-body recent-property-widget">
                                        <ul>
                                        <li>
                                            <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0">
                                                <a href="single.html"><img src="{% static 'authentication/assets/img/demo/small-property-2.jpg' %}"></a>
                                                <span class="property-seeker">
                                                    <b class="b-1">A</b>
                                                    <b class="b-2">S</b>
                                                </span>
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                                                <h6> <a href="single.html">Super nice villa </a></h6>
                                                <span class="property-price">3000000$</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="col-md-3 col-sm-3  col-xs-3 blg-thumb p0">
                                                <a href="single.html"><img src="{% static 'authentication/assets/img/demo/small-property-1.jpg' %}"></a>
                                                <span class="property-seeker">
                                                    <b class="b-1">A</b>
                                                    <b class="b-2">S</b>
                                                </span>
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                                                <h6> <a href="single.html">Super nice villa </a></h6>
                                                <span class="property-price">3000000$</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0">
                                                <a href="single.html"><img src="{% static 'authentication/assets/img/demo/small-property-3.jpg' %}"></a>
                                                <span class="property-seeker">
                                                    <b class="b-1">A</b>
                                                    <b class="b-2">S</b>
                                                </span>
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                                                <h6> <a href="single.html">Super nice villa </a></h6>
                                                <span class="property-price">3000000$</span>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0">
                                                <a href="single.html"><img src="{% static 'authentication/assets/img/demo/small-property-2.jpg' %}"></a>
                                                <span class="property-seeker">
                                                    <b class="b-1">A</b>
                                                    <b class="b-2">S</b>
                                                </span>
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                                                <h6> <a href="single.html">Super nice villa </a></h6>
                                                <span class="property-price">3000000$</span>
                                            </div>
                                        </li>

                                    </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-9  pr0 padding-top-40 properties-page">
                    <div class="col-md-12 clear"> 
                        <div class="col-xs-10 page-subheader sorting pl0">
                            {% comment %} <ul class="sort-by-list">
                                <li class="active">
                                    <a href="javascript:void(0);" class="order_by_date" data-orderby="property_date" data-order="ASC">
                                        Property Date <i class="fa fa-sort-amount-asc"></i>					
                                    </a>
                                </li>
                                <li class="">
                                    <a href="javascript:void(0);" class="order_by_price" data-orderby="property_price" data-order="DESC">
                                        Property Price <i class="fa fa-sort-numeric-desc"></i>						
                                    </a>
                                </li> {% endcomment %}
                            {% comment %}  </ul><!--/ .sort-by-list-->

                            <div class="items-per-page">
                                <label for="items_per_page"><b>Property per page :</b></label>
                                <div class="sel">
                                   <select id="items_per_page" name="per_page">
                                        <option value="3">3</option>
                                        <option value="6">6</option>
                                        <option value="9">9</option>
                                        <option selected="selected" value="12">12</option>
                                        <option value="15">15</option>
                                        <option value="30">30</option>
                                        <option value="45">45</option>
                                        <option value="60">60</option>
                                    </select>
                                </div><!--/ .sel-->
                            </div><!--/ .items-per-page--> {% endcomment %}
                        </div>

                        <div class="col-xs-2 layout-switcher">
                            <a class="layout-list" href="javascript:void(0);"> <i class="fa fa-th-list"></i>  </a>
                            <a class="layout-grid active" href="javascript:void(0);"> <i class="fa fa-th"></i> </a>                          
                        </div><!--/ .layout-switcher-->
                    </div>
                    {% if page_obj %}
                    <div class="col-md-12 clear"> 
                        <div id="list-type" class="proerty-th">
                           
                            {% for properties in page_obj %}
                                <div class="col-sm-6 col-md-4 p0">
                                    <div class="box-two proerty-item">
                                        <div class="item-thumb">
                                            <a href="{% url 'detail-property' properties.id %}" ><img src="{{ properties.image_first.url }}"></a>
                                        </div>

                                        <div class="item-entry overflow">
                                            <h5>
                                                <a href="{% url 'detail-property' properties.id %}"> 
                                                    {% if properties.name != None  %} {{ properties.name }} {% endif %}
                                                </a>
                                            </h5>
                                            <div class="dot-hr"></div>
                                            <span class="pull-left"><b> Area :</b>{% if properties.area_numbers != None %}{{ properties.area_numbers}} {% else %} 0 {% endif %} m </span>
                                            <span class="proerty-price pull-right">{% if properties.price != None %}{{ properties.price }} {% else %} 0 {% endif %}Frcs</span>
                                            {% comment %} <p style="display: none">{{ properties.description|truncatewords:10|safe }}</p> {% endcomment %}
                                            <div class="property-icon">
                                                <img src="{% static 'authentication/assets/img/icon/bed.png' %}">({{properties.bed_numbers.interval}})|
                                                <img src="{% static 'authentication/assets/img/icon/shawer.png' %}">({{properties.bath_numbers.interval}})|
                                                <img src="{% static 'authentication/assets/img/icon/cars.png' %}">({{ properties.garage_number.interval }})  
                                                
                                            </div>
                                        </div>


                                    </div>
                                </div> 
                                {% endfor %}
                        </div>
                    </div>
                    
                    <div class="col-md-12"> 
                        <div class="pull-right">
                            <div class="pagination">
                                
                                <span class="step-links">
                                    {% if page_obj.has_previous %}
                                         {% comment %} <a href="?page=1">&laquo; first</a>  {% endcomment %}
                                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                    {% endif %}
                            
                                    <span class="current">
                                        {% for i in page_obj.paginator.page_range  %}
                                            
                                            {% if page_obj.number == i %}
                                                <li class="current active"><a href="?page={{ i }}">{{ i }}</a></li>
                                                {% else %}
                                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                                            {% endif %}  
                                        {% endfor %}
                                            {{ page_obj.number }} /{{ page_obj.paginator.num_pages }}.
                                    </span>
                            
                                    {% if page_obj.has_next %}
                                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                                        
                                        {% comment %} <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a> {% endcomment %}
                                    {% endif %}
                                </span>
                               
                            </div>

                        </div>                
                    </div>
                    {% endif %}
                </div>  
                </div>              
            </div>
        </div>

{% endblock content %}