{% extends 'authentication/bases/auth-base.html' %}
{% load static %}

{% block content %}

{% load widget_tweaks %}

        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        {% if user.is_authenticated %}
                        <h1 class="page-title"><strong>{% if user.username %}{{ user.username }}{% else %}{{user.get_full_name}}{% endif %}</strong> Properties</h1>   
                        {% endif %}            
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->

        <!-- property area -->
        <div class="content-area recent-property" style="background-color: #FFF;">
            <div class="container">   
                <div class="row">

                    <div class="col-md-9 pr-30 padding-top-40 properties-page user-properties">

                        <div class="section"> 
                            <div class="page-subheader sorting pl0 pr-10">


                                <ul class="sort-by-list pull-left">
                                    <li class="active">
                                        <a href="javascript:void(0);" class="order_by_date" data-orderby="property_date" data-order="ASC">
                                            Property Date <i class="fa fa-sort-amount-asc"></i>					
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="javascript:void(0);" class="order_by_price" data-orderby="property_price" data-order="DESC">
                                            Property Price <i class="fa fa-sort-numeric-desc"></i>						
                                        </a>
                                    </li>
                                </ul><!--/ .sort-by-list-->

                                <div class="items-per-page pull-right">
                                    <label for="items_per_page"><b>Property per page :</b></label>
                                    <div class="sel">
                                        <select id="items_per_page" name="per_page">
                                            <option value="3">3</option>
                                            <option value="6">6</option>
                                            <option value="9">9</option>
                                            <option selected="selected" value="12">12</option>
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                            <option value="60">60</option>
                                        </select>
                                    </div><!--/ .sel-->
                                </div><!--/ .items-per-page-->
                            </div>

                        </div>

                        <div class="section"> 
                            <div id="list-type" class="proerty-th-list">
                               
                                {% comment %} <div class="col-md-4 p0">
                                    <div class="box-two proerty-item">
                                        <div class="item-thumb">
                                            <a href="property-1.html" ><img src="{% static 'authentication/assets/img/demo/property-3.jpg' %}"></a>
                                        </div>
                                        <div class="item-entry overflow">
                                            <h5><a href="property-1.html"> Super nice villa </a></h5>
                                            <div class="dot-hr"></div>
                                            <span class="pull-left"><b> Area :</b> 120m </span>
                                            <span class="proerty-price pull-right"> $ 300,000</span>
                                            <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                            <div class="property-icon">
                                                <img src="{% static 'authentication/assets/img/icon/bed.png' %}">(5)|
                                                <img src="{% static 'authentication/assets/img/icon/shawer.png' %}">(2)|
                                                <img src="{% static 'authentication/assets/img/icon/cars.png' %}">(1)  

                                                <div class="dealer-action pull-right">                                        
                                                    <a href="{% url 'submit-property' %}" class="button">Edit </a>
                                                    <a href="#" class="button delete_user_car">Delete</a>
                                                    <a href="property-1.html" class="button">View</a>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>                             
                                
                                <div class="col-md-4 p0">
                                    <div class="box-two proerty-item">
                                        <div class="item-thumb">
                                            <a href="property-1.html" ><img src="{% static 'authentication/assets/img/demo/property-2.jpg' %}"></a>
                                        </div>

                                        <div class="item-entry overflow ">
                                            <h5><a href="property-1.html"> Super nice villa </a></h5>
                                            <div class="dot-hr"></div>
                                            <span class="pull-left"><b> Area :</b> 120m </span>
                                            <span class="proerty-price pull-right"> $ 300,000</span>
                                            <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                            <div class="property-icon">
                                                <img src="{% static 'authentication/assets/img/icon/bed.png' %}">(5)|
                                                <img src="{% static 'authentication/assets/img/icon/shawer.png' %}">(2)|
                                                <img src="{% static 'authentication/assets/img/icon/cars.png' %}">(1)  

                                                <div class="dealer-action pull-right">                                        
                                                    <a href="submit-property.html" class="button">Edit </a>
                                                    <a href="#" class="button delete_user_car">Delete</a>
                                                    <a href="property-1.html" class="button">View</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 

                                <div class="col-md-4 p0">
                                    <div class="box-two proerty-item">
                                        <div class="item-thumb">
                                            <a href="property-1.html" ><img src="{% static 'authentication/assets/img/demo/property-1.jpg' %}"></a>
                                        </div>

                                        <div class="item-entry overflow">
                                            <h5><a href="property-1.html"> Super nice villa </a></h5>
                                            <div class="dot-hr"></div>
                                            <span class="pull-left"><b> Area :</b> 120m </span>
                                            <span class="proerty-price pull-right"> $ 300,000</span>
                                            <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                            <div class="property-icon">
                                                <img src="{% static 'authentication/assets/img/icon/bed.png' %}">(5)|
                                                <img src="{% static 'authentication/assets/img/icon/shawer.png' %}">(2)|
                                                <img src="{% static 'authentication/assets/img/icon/cars.png' %}">(1)  

                                                <div class="dealer-action pull-right">                                        
                                                    <a href="submit-property.html" class="button">Edit </a>
                                                    <a href="#" class="button delete_user_car">Delete</a>
                                                    <a href="property-1.html" class="button">View</a>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div> 

                                <div class="col-md-4 p0">
                                    <div class="box-two proerty-item">
                                        <div class="item-thumb">
                                            <a href="property-1.html" ><img src="{% static 'authentication/assets/img/demo/property-3.jpg' %}"></a>
                                        </div>

                                        <div class="item-entry overflow">
                                            <h5><a href="property-1.html"> Super nice villa </a></h5>
                                            <div class="dot-hr"></div>
                                            <span class="pull-left"><b> Area :</b> 120m </span>
                                            <span class="proerty-price pull-right"> $ 300,000</span>
                                            <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                            <div class="property-icon">
                                                <img src="{% static 'authentication/assets/img/icon/bed.png' %}">(5)|
                                                <img src="{% static 'authentication/assets/img/icon/shawer.png' %}">(2)|
                                                <img src="{% static 'authentication/assets/img/icon/cars.png' %}">(1)  

                                                <div class="dealer-action pull-right">                                        
                                                    <a href="submit-property.html" class="button">Edit </a>
                                                    <a href="#" class="button delete_user_car">Delete</a>
                                                    <a href="property-1.html" class="button">View</a>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div> 

                                <div class="col-md-4 p0">
                                    <div class="box-two proerty-item">
                                        <div class="item-thumb">
                                            <a href="property-1.html" ><img src="{% static 'authentication/assets/img/demo/property-1.jpg' %}"></a>
                                        </div>

                                        <div class="item-entry overflow">
                                            <h5><a href="property-1.html"> Super nice villa </a></h5>
                                            <div class="dot-hr"></div>
                                            <span class="pull-left"><b> Area :</b> 120m </span>
                                            <span class="proerty-price pull-right"> $ 300,000</span>
                                            <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                            <div class="property-icon">
                                                <img src="{% static 'authentication/assets/img/icon/bed.png' %}">(5)|
                                                <img src="{% static 'authentication/assets/img/icon/shawer.png' %}">(2)|
                                                <img src="{% static 'authentication/assets/img/icon/cars.png' %}">(1)  

                                                <div class="dealer-action pull-right">                                        
                                                    <a href="submit-property.html" class="button">Edit </a>
                                                    <a href="#" class="button delete_user_car">Delete</a>
                                                    <a href="property-1.html" class="button">View</a>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>  

                                <div class="col-md-4 p0">
                                    <div class="box-two proerty-item">
                                        <div class="item-thumb">
                                            <a href="property-1.html" ><img src="{% static 'authentication/assets/img/demo/property-2.jpg' %}"></a>
                                        </div>

                                        <div class="item-entry overflow">
                                            <h5><a href="property-1.html"> Super nice villa </a></h5>
                                            <div class="dot-hr"></div>
                                            <span class="pull-left"><b> Area :</b> 120m </span>
                                            <span class="proerty-price pull-right"> $ 300,000</span>
                                            <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                            <div class="property-icon">
                                                <img src="{% static 'authentication/assets/img/icon/bed.png' %}">(5)|
                                                <img src="{% static 'authentication/assets/img/icon/shawer.png' %}">(2)|
                                                <img src="{% static 'authentication/assets/img/icon/cars.png' %}">(1)  

                                                <div class="dealer-action pull-right">                                        
                                                    <a href="submit-property.html" class="button">Edit </a>
                                                    <a href="#" class="button delete_user_car">Delete</a>
                                                    <a href="property-1.html" class="button">View</a>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>                             

                                <div class="col-md-4 p0">
                                    <div class="box-two proerty-item">
                                        <div class="item-thumb">
                                            <a href="property-1.html" ><img src="{% static 'authentication/assets/img/demo/property-3.jpg' %}"></a>
                                        </div>

                                        <div class="item-entry overflow">
                                            <h5><a href="property-1.html"> Super nice villa </a></h5>
                                            <div class="dot-hr"></div>
                                            <span class="pull-left"><b> Area :</b> 120m </span>
                                            <span class="proerty-price pull-right"> $ 300,000</span>
                                            <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                            <div class="property-icon">
                                                <img src="{% static 'authentication/assets/img/icon/bed.png' %}">(5)|
                                                <img src="{% static 'authentication/assets/img/icon/shawer.png' %}">(2)|
                                                <img src="{% static 'authentication/assets/img/icon/cars.png' %}">(1)  

                                                <div class="dealer-action pull-right">                                        
                                                    <a href="submit-property.html" class="button">Edit </a>
                                                    <a href="#" class="button delete_user_car">Delete</a>
                                                    <a href="property-1.html" class="button">View</a>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>    {% endcomment %}

                                    <!-- emplacement de la boucle -->> 
                                {% for Property in page_obj%}
                                    {% if user.is_authenticated %}
                                        
                                <div class="col-md-4 p0">
                                    <div class="box-two proerty-item">
                                        <div class="item-thumb">
                                            <a href="property-1.html" ><img src="{{ Property.image_first.url }}"></a>
                                        </div>

                                        <div class="item-entry overflow">
                                            <h5><a href="{% url 'detail-property' Property.id  %}">{{ Property.name }} </a></h5>
                                            <div class="dot-hr"></div>
                                            <span class="pull-left"><b> Area :</b>{% if Property.area_numbers != None %}{{ Property.area_numbers}}m {% else %} 0 {% endif %} </span>
                                            <span class="proerty-price pull-right">{% if Property.price != None %}{{ Property.price }} {% else %} 0 {% endif %}Frcs</span>
                                            <p style="display: none;">{{ Property.description|truncatewords:15|safe}}</p>
                                            <div class="property-icon">
                                                <img src="{% static 'authentication/assets/img/icon/bed.png' %}">({{Property.bed_numbers.interval}})|
                                                <img src="{% static 'authentication/assets/img/icon/shawer.png' %}">({{Property.bath_numbers.interval}})|
                                                <img src="{% static 'authentication/assets/img/icon/cars.png' %}">({{Property.garage_number.interval}})  

                                                <div class="dealer-action pull-right">                                        
                                                    <a href="{% url 'submit-property' %}" class="button" ><strong style="color:blue">Edit</strong></a>
                                                    <a href="#" class="button delete_user_car"><strong style="color:red">Delete</strong></a>
                                                    <a href="{% url 'detail-property' Property.id %}" class="button"><strong style="color:green">View</strong></a>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div> 
                                    {% endif %}
                               {% endfor %} 
                            </div>
                        </div>

                        <div class="section"> 
                            
                            <div class="pull-right">
                                <div class="pagination">
                                
                                    <span class="step-links">
                                        {% if page_obj.has_previous %}
                                             {% comment %} <a href="?page=1">&laquo; first</a>  {% endcomment %}
                                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                        {% endif %}
                                
                                        <span class="current">
                                            {% for i in page_obj.paginator.page_range  %}
                                                
                                                {% if page_obj.number == i %}
                                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                                    {% else %}
                                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                                {% endif %}  
                                            {% endfor %}
                                                {% comment %} Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. {% endcomment %}
                                        </span>
                                
                                        {% if page_obj.has_next %}
                                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                                            
                                            {% comment %} <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a> {% endcomment %}
                                        {% endif %}
                                    </span>
                                    
                                </div>

                            </div>                
                        </div>

                    </div>       

                    <div class="col-md-3 p0 padding-top-40">
                        <div class="blog-asside-right">
                            <div class="panel panel-default sidebar-menu wow fadeInRight animated" >
                                <div class="panel-heading">
                                    <h3 class="panel-title">Hello
                                        {% if user.is_authenticated and user.get_full_name %}
                                            {{ user.get_full_name }}
                                        {% else %}
                                            {{ user.username }}
                                        {% endif  %}
                                    </h3>
                                </div>
                                <div class="panel-body search-widget">

                                </div>
                            </div>

                            <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Recommended</h3>
                                </div>
                                <div class="panel-body recent-property-widget">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endblock content %}